<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.article.service.mapper.ArticleMapper">
        
    <!-- Article select from data base table -->
    <select id="selectAtricleList" parameterType="com.example.demo.article.service.ArticleVO" resultType="com.example.demo.article.service.ArticleVO">
        SELECT * FROM webboard.tb_board
    </select>

    <!-- Insert Article infomation from client side UI to database -->
    <insert id="createAtricle">
        insert into webboard.tb_board(title, contents, hit_cnt, del_gb, crea_id) 
        value (#{title}, #{contents}, 0, "N", #{crea_id})
    </insert>

    <!-- Update article from client side UI to database -->
    <update id="updateArticle">
        update webboard.tb_board set
            title = #{title}
            contents = #{contents}
        where IDX = #{IDX}
    </update>
    
    <!-- delete article from client side UI to database -->
    <delete id="deleteArticle">
        delete from webboard.tb_board where IDX = #{IDX}
    </update>

</mapper>
