<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.member.service.mapper.MemberMapper">
        
    <!-- Select member infomation from database to client UI -->
    <!-- <select id="selectMemberList" parameterType="com.example.demo.member.service.MemberVO" resultType="com.example.demo.member.service.MemberVO">
        SELECT * FROM webboard.member
    </select> -->
    
</mapper>
