<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.member.service.mapper.MemberMapper">
        
    <!-- Select member infomation from database to client UI -->
    <select id="selectMemberList" parameterType="com.example.demo.member.service.MemberVO" resultType="com.example.demo.member.service.MemberVO">
        SELECT * FROM webboard.member
    </select>
    
    <!-- Create member infomation to database for new user -->
    <insert id="createMember">
        insert into webboard.tb_member(email, password, name, address, tel) 
        value (#{email}, #{password}, #{name}, #{address}, #{tel})
    </insert>

    <!-- Update member infomation from client side UI to database -->
    <update id="updateArticle">
        update webboard.tb_member set
            password = #{password}
            name = #{name}
            address = #{address}
            tel = #{tel}
        where email = #{email}
    </update>
    
    <!-- delete member infomation from client side UI to database -->
    <delete id="deleteArticle">
        delete from webboard.tb_member where email = #{email}
    </update>

</mapper>
